.contantLogin {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  padding-top: 100px;
  margin-top: 50px;
}

@media (max-width: 576px) {
  .contantLogin {
    padding: 10px;
    max-width: 100%;
  }

  .form-control {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 12px;
  }
}
