<div class="card container my-4">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>placeLocation</th>
                <th>Amount</th>
                <th>Paid By</th>
                <th>Shared With</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of espense$ |async">
              <td>{{ expense.description }}</td>
              <td>{{ expense.placeLocation }}</td>
              <td>{{ expense.amount }}</td>
              <td>{{ getUserName(expense.paidByUserId) | async }}</td>
              <td>{{ getSharedUserNames(expense.sharedWithUserIds) | async  }}</td>
            </tr>
          </tbody>
      </table>
      
</div>