<div class="card container my-4">
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>placeLocation</th>
                <th>Amount</th>
                <th>Paid By</th>
                <th>Shared With</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of expensesWithUsers$ | async">
              <td>{{ expense.description }}</td>
              <td>{{ expense.placeLocation }}</td>
              <td>{{ expense.amount }}</td>
              <td>{{ expense.paidByUserName }}</td>
              <td>{{ expense.sharedWithUserNames }}</td>
                  </tr>
          </tbody>
      </table>
      <br>
</div>