<div class="card container my-4">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Eamil</th>
                <th>Amount</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users$ | async">
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.balance }}</td>
            
                  </tr>
          </tbody>
      </table>
      <br>
</div>